header {
  position: fixed;
  z-index: 1;
  width: 100vw;
}

.navbar {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  font-weight: 900;
  margin-left: 4rem;
  font-size: 3rem;
  text-shadow: -3px 2px 2px #000000
}

.lowplus {
  font-weight: 800;
  font-size: 1.5rem;
}

.navbar > ul {
  padding: 0;
  margin-right: 4rem;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar > ul li {
  margin: 0 24px;
}

a {
  text-decoration: none;  
  color: #7F0505;
}

@media screen and (max-width: 420px) {
  .navbar{
    justify-content: center;
  }
  .navbar h1{
    margin: 0;
  }
}


