@font-face {
  font-family: "gobold";
  src: local("gobold"), url(./fonts/GoboldRegular.otf) format("opentype");
}

@font-face {
  font-family: "gobold";
  font-weight: 900;
  src: local("gobold"), url(./fonts/GoboldBoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "gobold";
  font-weight: 800;
  src: local("gobold"), url(./fonts/GoboldLowplus.otf) format("opentype");
}

@font-face{
  font-family: "gobold";
  font-weight: 700;
  src: local("gobold"), url(./fonts/GoboldHollowBoldItalic.otf) format("opentype");
}

@font-face {
  font-family: "gobold";
  font-weight: 600;
  src: local("gobold"), url(./fonts/GoboldLowplusItalic.otf) format("opentype");
}

body {
  margin: 0;
  font-family: "goBold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


